
<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Resources.lang.hakkimizda
           
        </h1>
        <img src="~/images/EMUHEER.png"/>
    </div>
</div>
<p>@Resources.lang.sirketaciklaması</p>
<br/>
<br/>
<h3>@Resources.lang.bizeulas</h3>
<a class="btn btn-primary" target="_blank" href="https://www.facebook.com/profile.php?id=100000682602783&fref=ts">Erkan Ceylan</a>
<a class="btn btn-primary" target="_blank" href="https://www.facebook.com/muhammedmehmet.akgumus">Muhammed Mehmet Akgümüş</a>
<a class="btn btn-primary" target="_blank" href="https://www.facebook.com/Emre.Uysal.95?fref=ts">Emre Uysal</a>
